<a href="https://colab.research.google.com/github/Tanveer87/Compiler/blob/master/CSE430_Lab_Problem2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [181]:
import pandas as pd

df = pd.DataFrame(columns=['Input_Name', 'Type_of_Input'])
df.head()

Empty DataFrame
Columns: [Input_Name, Type_of_Input]
Index: []

# **insert**

In [182]:
def insert(df, name, typ):
    if (name not in df.Input_Name.values) or (typ not in df.Type_of_Input.values):
        df.loc[-1] = [name, typ]
        df.index = df.index + 1
        df = df.sort_index()
    return df

# **Search**

In [183]:
def search(df, name):
    return df.loc[df['Input_Name'] == name]

# **Delete**

In [184]:
def delete(df, name):
    try:
        idx = df.loc[df['Input_Name'] == name].index[0]
        df.drop([idx],axis=0,inplace=True)
        df.reset_index(inplace=True)
        df.drop('index',axis=1,inplace=True)
        return df
    except:
        print('Name not found')
        return df

# **Show**

In [185]:
def show():
    print(df)

# **Update**

In [186]:
def update(df, name=None, new_name=None, typ=None, new_typ=None):
    if name:
        if name in df.Input_Name.values:
            df.loc[df.Input_Name == name,'Input_Name'] = new_name
    if typ:
        if typ in df.Type_of_Input.values:
            df.loc[df.Type_of_Input == typ,'Type_of_Input'] = new_typ
            
    return df

# **Hash Key**

In [187]:
def getHashKey(df, name):
    return df.loc[df['Input_Name'] == name].index[0]

# **Input**

In [188]:
df = insert(df,'int','INTEGER')
df = insert(df,'myFunction','FUNCTION')
df = insert(df,'X','ID')
df = insert(df,'5','NUM')
df.head()

   Input_Name Type_of_Input
0           5           NUM
1           X            ID
2  myFunction      FUNCTION
3         int       INTEGER

In [189]:
#insert
df = insert(df,'Tanveer','STRING')
df = insert(df,'5.25','FLOAT')
df

   Input_Name Type_of_Input
0        5.25         FLOAT
1     Tanveer        STRING
2           5           NUM
3           X            ID
4  myFunction      FUNCTION
5         int       INTEGER

In [190]:
#search
search(df, '5.25')

  Input_Name Type_of_Input
0       5.25         FLOAT

In [191]:
#delete
df = delete(df,name='int')
df.head()

   Input_Name Type_of_Input
0        5.25         FLOAT
1     Tanveer        STRING
2           5           NUM
3           X            ID
4  myFunction      FUNCTION

In [192]:
# Show
show()

   Input_Name Type_of_Input
0        5.25         FLOAT
1     Tanveer        STRING
2           5           NUM
3           X            ID
4  myFunction      FUNCTION

In [193]:
#update
df = update(df, '5','25','NUM','INTIGER')
df.head

<bound method NDFrame.head of    Input_Name Type_of_Input
0        5.25         FLOAT
1     Tanveer        STRING
2          25       INTIGER
3           X            ID
4  myFunction      FUNCTION>

In [194]:
#get hash key

getHashKey(df,'5.25')

0